@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #090909;

  --color-primary: #D7FF66;
  --color-primary-dark: #435c00;
  --color-secondary: #262626;



  --color-primary-foreground: #AAF7FF;

  --color-border: #E3E3E3;

  --radius-lg: var(--radius);

  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-helvetica: 'Helvetica', sans-serif;
  --font-mona-sans: "Mona Sans", sans-serif;

}

:root {
  --radius: 0.5rem;
  --color-background: #FFFFFF;
  --color-foreground: #090909;

  --color-primary: #435c00;
  --color-primary-foreground: #AAF7FF;

  --color-border: #E3E3E3;
  --color-secondary: #262626;

}

/* Base */
@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-mona-sans);
  }
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-coolvetica);
  letter-spacing: 2px;
} */

/* Custom Scrollbar Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent !important;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #435c0060;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: #435c0070;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:active {
  background: #435c0080;
}

/* Firefox */
@supports (scrollbar-color: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #435c0060 transparent;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Firefox */
  -moz-appearance: textfield;
}

.otp-input {
  height: 60px;
  width: 50px !important;
  border: 2px solid #d1d4d7;
  border-radius: 12px !important;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  margin: 16px;
  padding: 5px;
  transition: border-color 0.2s ease-in-out;
}

.otp-input:focus {
  outline: none;
}

.otp-input.focused {
  border-color: #d6ff66a8;
}

.otp-input.filled {
  border-color: #D7FF66;
}

.recharts-surface,
.recharts-surface:focus,
#recharts-zindex-100-_r_6_:focus,
#recharts-zindex-300-_r_15_:focus {
  outline: none !important;
  border: none !important;
  stroke: none !important;
}

.recharts-tooltip-wrapper g:hover {
  background-color: #D7FF66 !important;
}